<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Project3</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateAcc</display-name>
    <servlet-name>CreateAcc</servlet-name>
    <servlet-class>ServletAdmin.CreateAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAcc</servlet-name>
    <url-pattern>/CreateAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAcc</display-name>
    <servlet-name>ShowAcc</servlet-name>
    <servlet-class>ServletAdmin.ShowAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAcc</servlet-name>
    <url-pattern>/ShowAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>ServletAdmin.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccServlet</display-name>
    <servlet-name>UpdateAccServlet</servlet-name>
    <servlet-class>ServletAdmin.UpdateAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccServlet</servlet-name>
    <url-pattern>/UpdateAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccServlet</display-name>
    <servlet-name>DeleteAccServlet</servlet-name>
    <servlet-class>ServletAdmin.DeleteAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccServlet</servlet-name>
    <url-pattern>/DeleteAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ServletAdmin.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ServletAdmin.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>ServletAdmin.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProducShowServlet</display-name>
    <servlet-name>ProducShowServlet</servlet-name>
    <servlet-class>ServletAdmin.ProducShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProducShowServlet</servlet-name>
    <url-pattern>/ProducShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProductServlet</display-name>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>ServletAdmin.CreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/CreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>ServletAdmin.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletApiProduct</display-name>
    <servlet-name>ServletApiProduct</servlet-name>
    <servlet-class>ServletAdmin.ServletApiProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletApiProduct</servlet-name>
    <url-pattern>/ServletApiProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>ServletAdmin.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>ServletAdmin.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCart</display-name>
    <servlet-name>DeleteCart</servlet-name>
    <servlet-class>ServletAdmin.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCart</servlet-name>
    <url-pattern>/DeleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>ServletAdmin.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>ServletAdmin.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>ServletAdmin.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>